@charset "uft-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{text-decoration: none; color: inherit;}
li{list-style-type: none;}
img{max-width: 100%;}
body{background-color: #fff; color: #333;}
table{width: 100%; border-collapse: collapse;}
button{cursor: pointer;}

.wrap{width: 100%;}
.top{
    height: calc(100% - 120px);
    display: flex;
}

header{
    width: 200px;
    background-color: rgb(195, 211, 50);
}
header h1{
    width: 150px;
    text-align: center;
    margin-left: 20px;
    padding: 20px;
}
header nav{
    width: 150px;
    margin-left: 20px;
    padding-top: 30px;
}
header nav>ul>li{
    position: relative;
}
header nav>ul>li>a{
    display: block;
    background-color: #222;
    color: #fff;
    font-weight: bold;
    padding: 20px 0;
    padding-left: 10px;
}
header nav>ul>li>a:hover{background-color: #555;}

.sub{
    position: absolute;
    top: 0;
    left: 150px;
    z-index: 10;
    width: 150px;
    display: none;
}

.sub li a{
    display: block;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 20px 0;
    padding-left: 10px;
}
.sub li a:hover{background-color: #555;}

/*--------------------------------------------------*/
.contents{width: 400px; padding: 30px 10px;}

.banner{
    padding: 20px 10px; 
    background-color: rgb(47, 139, 87);
    border-radius: 10px;
}
.banner img{width: 50px; height: 50px;}
.banner ul a{display: flex; gap: 5px;}
.banner ul a p{font-size: 12px;}

.notice{padding: 20px 0; }
.notice h2, .gall h2{
    width: 130px; 
    background-color: #3d7ac0;
    text-align: center;
    margin-left:15px;
    border-radius: 10px 10px 0 0;
}
.notice table{
    padding-left: 20px;
    border-top: 3px solid #3d7ac0;
    padding: 10px;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

table tr{
    border-bottom: 1px solid #333; 
    line-height: 30px;
    text-align: left;
}
table td{font-size: 12px;}



.gall{padding: 20px 0;}
.gall ul{
    display: flex; 
    justify-content: space-around;
    border-top: 3px solid #3d7ac0;
    border-bottom: 3px solid #3d7ac0;
    padding: 20px 0;
}
.gall img{width: 150px;}

.link{padding: 20px 0;}
.link ul{display: flex; justify-content: space-between;}
.link ul li a{display: block; text-align: center;}
.link ul li p{color: #333;}


/*--------------------------------------------------*/
.slide{
    width: calc(100% - 600px);
    position: relative;
    overflow: hidden;
}

.slide ul{
    width: 300%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
}
.slide li{
   position: relative;
   width: calc(100% / 3);
   height: 100%;
}
.slide ul li a{display: block;}
.slide li.s1{background: url(../img/s1.jpg) no-repeat center/cover;}
.slide li.s2{background: url(../img/s2.jpg) no-repeat center/cover;}
.slide li.s3{background: url(../img/s3.jpg) no-repeat center/cover;}
 
.slide h2{
    background-color: rgb(0, 0, 0, .5);
    width: 100%;
    padding: 30px;
    color: #fff;
}



/*--------------------------------------------------*/

footer{
    width: 100%;
    height: 120px;
    background-color: rgb(47, 139, 87);
    display: flex;
    align-items: center;
}
.f_logo{margin-right: 20px;}
.f_text{
    display: block;
    margin-right: 20px;
}
.sitemap{padding-left: 200px;}
.go span{padding-left: 5px;}
/*--------------------------------------------------*/

.popup{
    width: 600px;
    background-color: rgb(195, 211, 50);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-align: center;
    color: #fff;
    display: none;
}
button{
    float: right;
    margin: 10px;
}
.popup h2{margin:20px 0;}